<nb-layout>
    <nb-layout-column>
    </nb-layout-column>
    <nb-layout-column>
        <nb-card>
            <nb-card-body>
              <form (ngSubmit)="onSubmit(form)" #form="ngForm">
              <label>Your account name<sup>*</sup></label>
              <input type="text" shape="round" nbInput fullWidth status="success" [(ngModel)]="accountm" (blur)='blr()' name='acc' #acc='ngModel' placeholder="ACCOUNT" style='margin-bottom:1em;' required>
              <div *ngIf="acc.invalid && (acc.touched || acc.dirty)">
                  <p *ngIf="acc.hasError('required')">
                    set an account name.
                  </p>
                  <p *ngIf="boolAcc">
                      this name has been taken try something else.
                 </p>
                </div>
              <label>Enter you email adress<sup>*</sup></label>
              <input type="text" shape="round" [(ngModel)]="mailm" name='email' #email='ngModel'(blur)='blr()' nbInput fullWidth status="success" placeholder="EMAIL" style='margin-bottom:1em;' required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
              <div *ngIf="email.invalid && (email.touched || email.dirty)">
                  <p *ngIf="email.hasError('required')">
                    set an email.
                  </p>
                  <p *ngIf="email.errors.pattern">
                    Email format is wrong.
                  </p>
                </div>
                <div>
                    <p *ngIf="boolEmail">
                        this email already has an account.
                   </p>
                </div>
              <div>
                  <label>Enter your birthday</label>
                  <input nbInput placeholder="DATE OF BIRTH" [nbDatepicker]="formpicker" name='ag' #ag='ngModel' [(ngModel)]="age" shape="round" status="success" fullWidth style='margin-bottom:1em;' value="{{ ag | date: 'dd/MM/yyyy' }}">
                  <nb-datepicker #formpicker></nb-datepicker>
                </div>
                <label>Your pasword<sup>*</sup></label>
                <input type="password" shape="round" [(ngModel)]="passwordm" name='pass1' #pass1='ngModel' nbInput fullWidth status="success" placeholder="PASSWORD" style='margin-bottom:1em;' required>
                <div *ngIf="pass1.invalid && (pass1.touched || pass1.dirty)">
                    <p *ngIf="pass1.hasError('required')">
                      set a password.
                    </p>
                  </div>
                <button nbButton status="success" size="medium" shape="semi-round" type='submit' [disabled]='form.invalid && !boolAcc && !boolEmail'>Submit</button>
              </form>
            </nb-card-body>
        </nb-card>
    </nb-layout-column>
    <nb-layout-column>
      </nb-layout-column>

</nb-layout>
