<nb-layout>
  <nb-layout-header>
      <img
      class="mg"
      src="../../assets/img/69b5fffb-5243-4592-9c44-f63622471811.png"
    />

    <div class="dropdown bt1">
      <button type="button" class="btn btn-light text-dark btn-sm" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        USER
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="margin-top:.5em;">
        <a class="dropdown-item text-center" role="button" style="color:rgb(8, 7, 7);" [routerLink]="['/dashboard/account']" routerLinkActive="router-link-active" >Account</a>
        <a class="dropdown-item text-center" role="button" style="color:black;"[routerLink]="['/welcome']" routerLinkActive="router-link-active" (click)='logOut()'>Logout</a>
      </div>
    </div>
  </nb-layout-header>
  <nb-layout-column class="coll">
      <router-outlet></router-outlet>
      <div class="cont">
    <h5>Add a new destination:</h5>
      </div>
    <div class="cont">
    <h5 classs="tt" style="margin-right: .5em">FROM:</h5>
      <select class="custom-select custom-select-lg" (ngModelChange)="onChangeFrom($event)" [(ngModel)]="from" ng-selected="from">
        <option *ngFor="let ar of countries">
          {{ar.name}}
        </option>
      </select>
    </div>
      <div class="cont">
    <h5 classs="tt" style="margin-right: 1.9em">TO:</h5>
      <select class="custom-select custom-select-lg" (ngModelChange)="onChangeTo($event)" [(ngModel)]="to" ng-selected="to">
        <option *ngFor="let ar of countries">
          {{ar.name}}
        </option>
      </select>
    </div>
    <div class="cont">
        <button nbButton status="info" (click)='onClick()'>Confirm</button>
      </div>
  </nb-layout-column>
  <nb-layout-column>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
        <div style="display: block;">
            <canvas baseChart width="400" height="400"
                        [datasets]="lineChartData"
                        [labels]="lineChartLabels"
                        [options]="lineChartOptions"
                        [colors]="lineChartColors"
                        [legend]="lineChartLegend"
                        [chartType]="lineChartType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
            </div>
          </div>
  </div>
</div>
  </nb-layout-column>
  <nb-layout-footer>
    footer
  </nb-layout-footer>
</nb-layout>
